<aside class="main-sidebar">
    <div class="user-panel">
        <div class="pull-left image">
            <!--<img src="assets/img/poraque.png" class="img-circle" alt="User Image"> -->
        </div>
        <div class="pull-left info">
            <p></p>
            <a [routerLink]="[]"><i class="fa fa-circle text-success"></i> {{ status }}</a>
        </div>
    </div>
        
    <section class="sidebar" >
        <ul>
            <li class="header">Administração</li>
            <li><a [routerLink]="['/']"><i class="fa fa-circle-o"></i>Usuário</a></li>
            
       </ul>
    
    </section>       
</aside>
